<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--For favicon, we just put it into src/main/resources/favicon.ico OR src/main/resources/static/favicon.ico, by default the name of file must be "favicon.ico"-->
<meta charset="UTF-8" />
<title th:text="${title}"></title>
<!-- Root folder is "static" by default -->
<!-- Links from > https://getbootstrap.com/docs/4.1/getting-started/download/ -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Spring Boot Menu</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/customers/list}">Customers</a></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Dropdown link </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">Action</a> <a
							class="dropdown-item" href="#">Another action</a> <a
							class="dropdown-item" href="#">Something else here</a>
					</div></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1 class="text-success" th:text="${header}"></h1>

		<form th:action="@{/customers/save}" th:object="${customer}"
			method="post">
			<div class="form-group row">
				<label class="col-form-label col-sm-2">Name:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{name}" class="form-control" th:errorclass="'form-control alert-danger'"/>
					<small  class="form-text text-danger"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2">RFC:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{rfc}" class="form-control" th:errorclass="'form-control alert-danger'"/>
					<small  class="form-text text-danger"  th:if="${#fields.hasErrors('rfc')}" th:errors="*{rfc}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2">E-mail:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{email}" class="form-control"  th:errorclass="'form-control alert-danger'"/>
					<small  class="form-text text-danger"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2">Registration Date:</label>
				<div class="col-sm-6">
					<input type="text" placeholder="e.g. 2020/01/01"
						th:field="*{registrationDate}" class="form-control"  th:errorclass="'form-control alert-danger'"/>
						<small  class="form-text text-danger"  th:if="${#fields.hasErrors('registrationDate')}" th:errors="*{registrationDate}"></small>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Add Customer" class="btn btn-primary"
						style="position: absolute;" />
				</div>
			</div>
		</form>
	</div>
	<!-- Links from > https://getbootstrap.com/docs/4.1/getting-started/download/ -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>